
.image1 {
    position: relative;
    width: 150px;
    transform: rotate(-15deg);
    left: 40px;
    z-index: -1;
}
.image2 {
    width: 220px;
}
.image3 {
    width: 100px;
    position: relative;
    top: 100px;
    left: -50px;
}

.hidden {
    transition: 1s;
    filter: blur(10px);
    position: relative;
    top:700px;
    opacity: 0;
    left: -400px;
}

.show {
    filter: blur(0px);
    opacity: 1;
    transition: all 1s;
    transform: translateX(500px);
}




